<div class="box">
  <p>我的页面</p>
</div>
<div class="dy">
  <div class="big">
    <div class="box1">
      <img mat-card-image src="assets/2.jpg">
      <h2>许元浩</h2>
    </div>
    <div class="box2">
      <p>我的动态</p>
      <p>我的关注</p>
      <p>我的好友</p>
      <p>最近浏览</p>
      <p>热门推荐</p>
      <p>消息</p>
    </div>
  </div>
  <div class="big2">
    <h2>热门推荐</h2>
    <div class="slist">
      <div class="list">
          <img mat-card-image src="assets/1.jpg">
        <div class="listA">
          <p>#空间站#   —人民日报</p>
          <div class="listB">
            <p>中国空间站高清示意图</p>
          </div>
        </div>
      </div>
      <div class="list">
        <img mat-card-image src="assets/3.png">
        <div class="listA">
          <p>#延边大学就业信息网#   —蓝鲸财经工作平台</p>
          <div class="listB">
            <p>延边大学月薪4千招博士已经有人报名2</p>
          </div>
        </div>
      </div>
      <div class="list">
        <img mat-card-image src="assets/4.png">
        <div class="listA">
          <p>#山西对返乡学生免费隔离#   —中国新闻周刊</p>
          <div class="listB">
            <p>山西要求退还此前返乡学生隔离费用</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
