<div class="dt">
  <p>动态分享</p>
</div>
<div class="dtfx">
  <div class="fx">
    <ul class="flex">
      <li>
        <img mat-card-image src="assets/img.png">
        <div class="ftext">
          <h2>人民日报</h2>
          <span class="#">19分钟前 来自微博weibo.com 已编辑</span>
        </div>
      </li>
    </ul>
    <div class="box">
      <p>转存！#中国空间站超清示意图# 按照计划，中国空间站将于今年年底完成T字构型建造，舱内活动空间超过110立方米，将配置2个航天员出舱舱口和1个货物气闸舱，并提供6个睡眠区和2个卫生区，可实现长期3人、短期6人驻留。</p>
      <img mat-card-image src="assets/1.jpg">
    </div>
  </div>
  <div class="fx">
    <ul class="flex">
      <li>
        <img mat-card-image src="assets/img.png">
        <div class="ftext">
          <h2>人民日报</h2>
          <span class="#">19分钟前 来自微博weibo.com 已编辑</span>
        </div>
      </li>
    </ul>
    <div class="box">
      <p>转存！#中国空间站超清示意图# 按照计划，中国空间站将于今年年底完成T字构型建造，舱内活动空间超过110立方米，将配置2个航天员出舱舱口和1个货物气闸舱，并提供6个睡眠区和2个卫生区，可实现长期3人、短期6人驻留。</p>
      <img mat-card-image src="assets/1.jpg">
    </div>
  </div>
</div>
<div class="dtfx">
  <div class="fx">
    <ul class="flex">
      <li>
        <img mat-card-image src="assets/img.png">
        <div class="ftext">
          <h2>人民日报</h2>
          <span class="#">19分钟前 来自微博weibo.com 已编辑</span>
        </div>
      </li>
    </ul>
    <div class="box">
      <p>转存！#中国空间站超清示意图# 按照计划，中国空间站将于今年年底完成T字构型建造，舱内活动空间超过110立方米，将配置2个航天员出舱舱口和1个货物气闸舱，并提供6个睡眠区和2个卫生区，可实现长期3人、短期6人驻留。</p>
      <img mat-card-image src="assets/1.jpg">
    </div>
  </div>
  <div class="fx">
    <ul class="flex">
      <li>
        <img mat-card-image src="assets/img.png">
        <div class="ftext">
          <h2>人民日报</h2>
          <span class="#">19分钟前 来自微博weibo.com 已编辑</span>
        </div>
      </li>
    </ul>
    <div class="box">
      <p>转存！#中国空间站超清示意图# 按照计划，中国空间站将于今年年底完成T字构型建造，舱内活动空间超过110立方米，将配置2个航天员出舱舱口和1个货物气闸舱，并提供6个睡眠区和2个卫生区，可实现长期3人、短期6人驻留。</p>
      <img mat-card-image src="assets/1.jpg">
    </div>
  </div>
</div>
